{% include "admin.html" %}
{% load static %}

{% block content %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} alert-danger{% endif %}
                                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} alert-success{% endif %}">{{ message|safe }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
            <!--<img src="{% static 'media/img/logooficial.svg' %}"
                class="logo-session" alt="">-->
            <h2 class="title">Colección</h2>

            <div class="w-100 mb-3 m-width form-group">
            <label class="form-control-label">Nombre:</label>
                    {{object.nombre}}
            </div>

            <div class="w-100 mb-3 m-width form-group">
                <label class="form-control-label">Autor:</label>
                    {{object.persona}}
            </div>

            <div class="w-100 mb-3 m-width form-group">
                <label class="form-control-label">Legislaciones Relacionadas: </label>
                    {{object.legislacion}}
            </div>

            <div class="w-100 mb-3 m-width form-group">
                <label class="form-control-label">Fecha de Creacion:</label>
                    {{object.fecha_creacion}}
            </div>

            <div class="text-left">
                <a href='/colectionsupdate/{{object.idcoleccion}}'><button type='button' class="my-4 btn btn-default">Editar</button></a>
                <a href='#'><button type='button' class="my-4 btn btn-secundary">Eliminar</button></a>
            </div>
{% endblock %}

{% block custom_script %}
    <script type='text/javascript'>
        activeTag('coleccion');
    </script>
{% endblock  %}